@Scripts.Render("~/bundles/jquery")
@{
    ViewBag.Title = "Result";
}

<ul>
        <li>@Html.ActionLink("View Plans Shared With You", "SharedPlan", "Home")</li>
        <li>@Html.ActionLink("Share Your Plan", "sharePlan", "Home")</li>
        <li>@Html.ActionLink("Edit Your Plan", "EditPlan", "Home")</li>
</ul>


<h2>Result</h2>
----------------------------------------------------------------------------------
<label>1: @ViewBag.first</label>
----------------------------------------------------------------------------------
<label>2: @ViewBag.second</label>
----------------------------------------------------------------------------------
<label>3: @ViewBag.third</label>
----------------------------------------------------------------------------------
<label>4: @ViewBag.forth</label>
----------------------------------------------------------------------------------
<label>5: @ViewBag.five</label>
----------------------------------------------------------------------------------
<label>6: @ViewBag.six</label>
----------------------------------------------------------------------------------
<label>7: @ViewBag.seven</label>
----------------------------------------------------------------------------------
<label>8: @ViewBag.eight</label>
----------------------------------------------------------------------------------
<br/>
<a href="FourYearPlan">New Plan</a>

<script >
    var cancel = "@ViewBag.cancel";
    var cl = "@ViewBag.cl";
    $(document).ready(function () {
        if(cl != ""){
            alert("The following classes are no longer available:\n" + cl);
        }
    });
</script> 